<form [formGroup]="loginForm">
    <div id="col">
        <div id="row">
            <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName="email">
                <mat-error *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <a mat-button routerLink="/register">Not already registered? Click here</a>

            <button mat-raised-button color="primary" (click)="login()" [disabled]="!loginForm.valid">Login</button>
        </div>
    </div>
</form>